server:
  port: 8880

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Juliette117/config-server-micro-service-demo.git
          default-label: main